.last-spins {
  display: flex;
  flex-direction: column;
  background: var(--grey-800);
  padding: 8px 0px 8px 8px;
  border-radius: 8px;
  max-height: 500px;
  overflow-y: auto;
}

.last-spins-item {
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 4px;
}

.last-spins-item:not(:last-child) {
  border-bottom: 1px solid var(--grey-700);
}

@media (prefers-color-scheme: light) {
  .last-spins {
    background: var(--white);
  }

  .last-spins-item:not(:last-child) {
    color: var(--grey-700);
    border-bottom: 1px solid var(--grey-100);
  }
}
